body {
    background-color: rgb(168, 245, 245);
    p {
        color: red;
    }
    background: ("@img/shyga-the-sunlight-mound.jpg") 0 0 no-repeat;
}

@media (max-width: 768px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    body {
        background-color: aqua;
    }
}